
/*!** style for custom fonts **!*/
/*@font-face {*/
    /*font-family: 'Cinzel Regular';*/
    /*src: url("custom-font-face/Cinzel-Regular.ttf") format("truetype");*/
/*}*/


/** STYLE FOR PARSLEY VALIDATION LIBRARY **/
.parsley-errors-list {
    display: none !important;
}
/** STYLE FOR VALIDATION TOOLTIP (HINT.CSS) **/
[data-hint]:after {
    font-size: 0.75em !important;
}

/** STYLE FOR THE APP ALERT DIALOG BEGINS **/
.alert-dialog--utopiasoftware-alert-dialog {
    width: 90vw;
    min-width: 90vw;
}
/** STYLE FOR THE APP ALERT DIALOG ENDS **/


/** STYLE FOR THE SAMPLE PUZZLE PAGE BEGINS **/
#sample-puzzle-page .page--material__background {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255,0.9) 100%),
    url('app-images/puzzle-background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center;
}
.draggable-mirror {
    z-index: 99999;
    width: calc(99vw / 2);
}
/** STYLE FOR THE SAMPLE PUZZLE PAGE ENDS **/