
/*!** style for custom fonts **!*/
/*@font-face {*/
    /*font-family: 'Cinzel Regular';*/
    /*src: url("custom-font-face/Cinzel-Regular.ttf") format("truetype");*/
/*}*/


/** STYLE FOR PARSLEY VALIDATION LIBRARY **/
.parsley-errors-list {
    display: none !important;
}
/** STYLE FOR VALIDATION TOOLTIP (HINT.CSS) **/
[data-hint]:after {
    font-size: 0.75em !important;
}

/** STYLE FOR THE APP ALERT DIALOG BEGINS **/
.alert-dialog--utopiasoftware-alert-dialog {
    width: 90vw;
    min-width: 90vw;
}
/** STYLE FOR THE APP ALERT DIALOG ENDS **/


/** STYLE FOR THE SAMPLE PUZZLE PAGE BEGINS **/
#puzzle-levels-page .page--material__background {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255,0.8) 100%),
    url('app-images/puzzle-levels-background.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover, cover;
    background-position: center;
}
/** STYLE FOR THE SAMPLE PUZZLE PAGE ENDS **/


/** STYLE FOR THE SAMPLE PUZZLE PAGE BEGINS **/
#sample-puzzle-page .page--material__background {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255,0.8) 100%),
    url('app-images/puzzle-background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center;
}
.draggable-mirror {
    z-index: 99999 !important;
    width: calc(100vw / 2) !important;
    height: auto !important;
}
.draggable-dropzone--occupied .puzzle-piece-holder {
    display: none;
}
.draggable-dropzone--occupied .puzzle-pieces {
    width: 100% !important;
    height: auto !important;
    position: relative;
    top: 0;
}
.puzzle-pieces-carousel .draggable-dropzone--occupied .puzzle-pieces {
    width: auto !important;
    height: 100% !important;
    position: relative;
    top: 0;
}
/** STYLE FOR THE SAMPLE PUZZLE PAGE ENDS **/

/** STYLE FOR THE PAUSE-PUZZLE-MODAL PAGE BEGINS **/
#pause-puzzle-modal .puzzle-image-container {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255,0.8) 100%),
    url('app-images/puzzle-background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center;
}
/** STYLE FOR THE PAUSE-PUZZLE-MODAL PAGE ENDS **/

/** STYLE FOR THE PUZZLE-LEVEL-COMPLETE-MODAL PAGE BEGINS **/
#puzzle-level-complete-modal{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0,0.2) 100%),
    url('app-images/puzzle-completed-background.jpg');
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center;
}
#puzzle-level-complete-modal .puzzle-image-container {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255,0.8) 100%),
    url('app-images/puzzle-background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center;
}
/** STYLE FOR THE PUZZLE-LEVEL-COMPLETE-MODAL PAGE ENDS **/